<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>340919836801-p5pupm73kgbmcusq026t2b1tt8ntn26t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.340919836801-p5pupm73kgbmcusq026t2b1tt8ntn26t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>340919836801-15g9mq3u964jqaerjtdm74pgg5d6osbd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBma4Pku_pKcd4wMLQM22U0KOO78Clo8k4</string>
	<key>GCM_SENDER_ID</key>
	<string>340919836801</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.khastech.gunsguru</string>
	<key>PROJECT_ID</key>
	<string>guns-guru</string>
	<key>STORAGE_BUCKET</key>
	<string>guns-guru.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:340919836801:ios:01f33c92c8a0a217682d80</string>
</dict>
</plist>